@media (min-width: 999px){
    #pagina-estilos{
         padding: 10px;
         margin-top: 3%;
         background-color:$color-base;
         border-bottom: #1a2222;
         border-style: solid;
    }
    #pagina-estilos{
        h2{
            margin-top: 5%;
            font-size: 3rem;
            color: $color-naranja;
            text-align: center;
            font-family: "Inconsolata", monospace;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-variation-settings:
             "wdth" 100;
       }
    } 
    #pagina-estilos{
        .d-flex{
            .card{
                background-color: $color-base;
                width: 40%!important;
                border-style: none;
                margin: 5%;
           }
        }
    } 
    #pagina-estilos{
        .d-flex{
            .card{
                .card-body{
                    .card-title{
                        color: #ffff;
                        text-decoration: underline !important;
                        text-align: center !important;
                        font-family: "Nunito Sans", sans-serif !important;
                        font-optical-sizing: auto;
                        font-weight: 800px;
                        font-style: normal;
                        font-variation-settings:
                            "wdth" 100,
                            "YTLC" 500;
                    }
                }
            }
        }
    }
    #pagina-estilos{
        .d-flex{
            .card{
                .card-body{
                    .card-text{
                        margin-top: 3%;
                        margin-left: 8% !important;
                        margin-right: 8% !important;
                        color: $color-secundario;
                        text-align: justify !important;
                        font-family: "Nunito Sans", sans-serif !important;
                        font-optical-sizing: auto;
                        font-weight: 800px;
                        font-style: italic;
                        font-variation-settings:
                            "wdth" 100,
                            "YTLC" 500;
                    }
                }
            }
        }
    }
    #pagina-estilos{
        .d-flex{
            .card{
                img{
                    width: 70% !important;
                    margin-left: 15%;
                    border-radius: 3px !important; 
                }
            }
        }
    }
    #pagina-estilos{
        .d-flex{
            .card{
                .card-body{
                    a{
                        display: flex;
                        justify-content: center;
                        margin-top: 3%;
                        margin-left: 26% !important;
                        margin-right: 26% !important;
                        background-color: $color-naranja !important;
                        border-color: $color-naranja !important;
                        color: black;
                        text-align: justify !important;
                        font-family: "Nunito Sans", sans-serif !important;
                        font-optical-sizing: auto;
                        font-weight: 700;
                        font-style: normal;
                        font-variation-settings:
                            "wdth" 100,
                            "YTLC" 500;
                        transition: 0.7s;
                        &:hover{
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }
    }
    #pagina-estilos{
        .volver-inicio{
            color: #1a2222;
            display: flex;
            justify-content: center;
            align-content: center;
            margin-bottom: 3%;
            font-size: 20px;
            font-family: "Nunito Sans", sans-serif !important;
            font-optical-sizing: auto;
            font-weight: 500px;
            font-style: normal;
            font-variation-settings:
                 "wdth" 100,
                 "YTLC" 500;  
            &:visited{
                color:#ee5623; 
            } 
       }
    } 
}