$color-base:#1a2222;
$color-secundario:rgb(188,199,199, 0.5);
$color-blanco: #bcc7c7;
$color-contraste: rgb(227, 137, 57);
$color-naranja: rgb(227, 137, 57);


@media (min-width: 999px) {
    footer{
        background-color: #1a2222;
        padding: auto;
    }
    footer{
        .nos-vemos{
            position: relative;
            transition: 0.5s;
            &:hover{
                padding: 30px;
                margin-top: 20px; 
            }
        }
    }
    footer{
        .nos-vemos{
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color:#1a2222;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 2px;
                padding-bottom: 2px;
                border-radius: 10px; 
                opacity: 0.7;
                color:$color-naranja;
                font-optical-sizing: auto;
                font-size: 300%;
                font-family: brandon-grotesque, sans-serif;
                font-style: italic;
                font-weight: 500; 
            }
        }
    }
    footer{
        #form-contacto{
            border-top:rgb(188,199,199, 0.1);
            border-style: solid;
        }
    }
    footer{
        #form-contacto{
            p{
                padding: 15px;
                margin-top: 2%;
                color: $color-naranja;
                text-align: center;
                font-size: large;
                font-family: "Nunito Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100,
                    "YTLC" 500; 
            }
        }
    }
    footer{
        #form-contacto{
            .container-form{
                margin-left: 10%;
                margin-right: 10%;
                margin-bottom: 3%;
            }
        }
    }
    footer{
        #form-contacto{
            .container-form{
                label{
                    color:$color-naranja !important;
                    font-family: "Nunito Sans", sans-serif !important;
                    font-optical-sizing: auto;
                    font-weight: 400px;
                    font-style: normal;
                    font-variation-settings:
                        "wdth" 100,
                        "YTLC" 500;  
                }
            }
        }
    }
    footer{
        #form-contacto{
            .container-form{
                input{
                    background-color: #bcc7c7;  
                }
            }
        }
    }
    footer{
        #form-contacto{
            .container-form{
                textarea{
                    background-color: #bcc7c7;
                }
            }
        }
    }
    footer{
        .contacto{
            background-color:rgb(188,199,199, 0.1);  
        }
    }
    footer{
        .contacto{
            h3{
                margin-top: 5%;
                color:$color-naranja;
                font-size: 20px;
                text-align: center;
                text-decoration: underline;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 400px;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100,
                    "YTLC" 500; 
            }
        }
    }
    footer{
        .contacto{
            p{
                color:#bcc7c7 !important;
                font-size: 20px;
                text-align: center;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 800px;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100,
                    "YTLC" 500;
            }
        }
    }
    footer{
        .contacto{
            ul{
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 6%;
                gap: 10px;  
            }
        }
    }
    footer{
        .contacto{
            ul{
                li{
                    a{
                      img{
                        &:hover{
                            margin: 10px;
                            transition: 0.7s;
                        }
                      }
                    }
                }
            }
        }
    }
    footer{
        .end{
            h3{
                font-size: 100%;
                color: black;  
            }
        }
    }
    /*footer{
        .botones-flotantes{
            display: none;
        }
    }*/   
    
}