@media (min-width: 999px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed; 
        top: 0;
        width: 100%;
        height: auto;  
        z-index: 1;
        background-color: #1a2222;
        border-bottom: solid #bcc7c7;
    }
    header{
        nav{
            div{
                a{
                    img{
                        width: 35%;
                    }
                }
            }
        }
    }
    header{
        nav{
            div{
                ul{
                    li{
                        a{
                            font-family: "Nunito Sans", sans-serif;
                            font-optical-sizing: auto;
                            font-weight: 500;
                            font-style: normal;
                            font-variation-settings:
                             "wdth" 100,
                             "YTLC" 500;  
                            font-size: 1rem; 
                            color: #bcc7c7 !important; 
                           
                            &:hover{
                                color: #ee5623 !important;
                                padding: 10px; 
                                transition: 0.7s; 
                            }
                        }
                    }
                }
            }
        }
    }
    header{
            .barra-sm{
                display: block;
                display: flex;
                justify-content: space-between;
                gap: 10px;
                align-items:end;
                margin-right: 3%;
           }  
    }
    header{
        .barra-sm{
            a{
                &:hover{
                    margin: 10px;
                    transition: 0.7s;
                }
            }
        }
    }

}