@media (min-width: 999px) {
    .pagina-historia{
         padding: 10px;
         background-color: #EDF7FF;
         border-bottom: #1a2222;
         border-style: solid;
    }
    .pagina-historia{
        .clearfix{
            display: flex;
            padding: 20px;
            margin-top: 5%;
            margin-left: 15%;
       }
    } 
    .pagina-historia{
        .clearfix{
            h2{
                font-size: 3rem;
                color: black;
                text-decoration: underline;
                text-align: center;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 800px;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100,
                    "YTLC" 500;
            }
        }
    } 
    .pagina-historia{
        .clearfix{
            p{
                margin: 5%;
                color:#1a2222;
                font-size: 20px;
                text-align:justify;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 500px;
                font-style: italic;
                font-variation-settings:
                     "wdth" 100,
                     "YTLC" 500; 
            }
        }
    } 
    .pagina-historia{
        .clearfix{
            img{
                margin-top: 22%;
                width: 70%;
                border:#1a2222;
                border-style: solid;
                transition: 0.7s;
                &:hover{
                    transform: scale(1.5);
                    }
        }
    }
    }
    .pagina-historia{
        .container-fluid{
            h2{
                font-size: 3rem;
                color: black;
                text-decoration: underline;
                text-align: center;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 800px;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100,
                    "YTLC" 500;
            }
        }
    } 
    .pagina-historia{
        .container-fluid{
            p{
                margin-top: 5%;
                margin-left: 10%;
                margin-right: 10%;
                margin-bottom: 5%;
                color:#1a2222;
                font-size: 20px;
                text-align:justify;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 500px;
                font-style: italic;
                font-variation-settings:
                     "wdth" 100,
                     "YTLC" 500;   
            }
        }
    } 
    
    .pagina-historia{
        .container-fluid{
            .fotos{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10%;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    } 
    .pagina-historia{
        .container-fluid{
            img{
                width: 22%;
                border:#1a2222;
                border-style: solid;
                transition: 0.7s;
                &:hover{
                    transform: scale(1.8);
                }
            }
        }
    } 
    .pagina-historia{
        .volver-inicio{
            color: #1a2222;
            display: flex;
            justify-content: center;
            align-content: center;
            margin-bottom: 3%;
            font-size: 20px;
            font-family: "Nunito Sans", sans-serif !important;
            font-optical-sizing: auto;
            font-weight: 500px;
            font-style: normal;
            font-variation-settings:
                 "wdth" 100,
                 "YTLC" 500;  
            &:visited{
                color:#ee5623; 
            } 
       }
    } 
}