$color-base:#1a2222;
$color-secundario:rgb(188,199,199, 0.5);
$color-blanco: #bcc7c7;
$color-contraste: #ee5623;
$color-naranja: rgb(227, 137, 57);

@media (min-width: 999px){
    #inicio{
         background: rgb(145,133,133);
         background: radial-gradient(circle, rgba(145,133,133,0.9220063025210083) 1%, rgba(19,20,20,1) 72%);
         position: relative;
         border: $color-secundario;
         border-style: solid;
    }
    #inicio{
        .carousel{
            img{
                opacity: 50% !important;
                width: 100%;
            }
        }
    }
    #inicio{
        .title{
            padding-top: 2px;
            padding-bottom: 2px;
            width: 100%;
       }  
    } 
    #inicio{
        .title{
            h1{
                color: $color-contraste;
                text-align: center;
                font-size: 800%;
                font-family: "Inconsolata", monospace;
                font-optical-sizing: auto;
                font-weight: 100;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100;  
            }
        }
    } 
    #inicio{
        .title{
            h2{
                color:$color-blanco;
                text-align: center;
                font-optical-sizing: auto;
                font-size: 150%;
                font-family: brandon-grotesque, sans-serif;
                font-style: italic;
                font-weight: 500;
            }
        }
    }  
    #historia{
         padding:30px;
         padding-bottom: 40px;
         background: #ffff;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: auto;
         gap: 30px;
         margin-left: 5%;
         margin-right: 5%;
    }
    #historia{
        img{
            width: 70%;
            margin-top: 10%;
            margin-bottom: 10%;
            box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
            -webkit-box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
            -moz-box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
            grid-column: 1/2;
            justify-self:flex-end;
            align-self: center;
       }
    } 
    #historia{
        .container-historia{
            grid-column: 2/3;
            grid-row: 1;
            justify-self: center;
            align-self: center;
            margin-right: 30%;
            margin-left: 8%;
       }  
    } 
    #historia{
        .container-historia{
            .columna1{
                h2{
                    margin-bottom: 10px;
                    margin-top: 10px;
                    color: $color-naranja;
                    font-size: 20px;
                    font-family: "Inconsolata", monospace;
                    font-optical-sizing: auto;
                    font-weight: 500;
                    font-style: normal;
                    font-variation-settings:
                         "wdth" 100;
                }
            }
        }
    }   
    #historia{
        .container-historia{
            .columna1{
                a{
                    padding: 5px; 
                    margin: 5px;
                    color: $color-base;
                    font-size: 14px;
                    text-decoration:underline;
                    font-family: "Nunito Sans", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400px;
                    font-style: normal;
                    font-variation-settings:
                         "wdth" 100,
                         "YTLC" 500;
                }
            }
        }
    } 
    #historia{
        .container-historia{
            .columna1{
                p{
                    margin-bottom: 40px;
                    color:rgb(26, 34, 34, 0.6);
                    font-size: 14px;
                    text-decoration:none;
                    font-family: "Montserrat", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400px;
                    font-style: italic;
                }
            }
        }
    }     
    #estilos{
        background-color:rgb(26,34,34);
        border: #ffff;
        border-style: solid;
        padding:30px;
        padding-bottom: 40px;
        margin-left: 5%;
        margin-right: 5%;
    }
    #estilos{
        h2{
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-bottom: 20px;
            color: $color-naranja;
            text-align: center;
            font-size: 40px;
            font-family: "Inconsolata", monospace;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-variation-settings:
                 "wdth" 100; 
        }
    } 
    
    #estilos{
        div{
            .card{
                width: 20% !important;
                background-color:#1a2222;
                transition: 0.7s;
                &:hover{
                    margin: 50px;
                }
            }
        }
    }     
    #estilos{
        div{
            .card{
                img{
                    width: 100%;
                }
            }
        }
    } 
    #estilos{
        div{
            .card{
                h5{
                    color: $color-blanco !important;
                    text-align: center;
                    font-size: 18px;
                    font-family: "Inconsolata", monospace !important;
                    font-optical-sizing: auto;
                    font-weight: 500;
                    font-style: normal;
                    font-variation-settings:
                         "wdth" 100;
                }
            }
        }
    }
    #estilos{
        div{
            .card{
                p{
                    color: $color-blanco !important;
                    font-size: 12px !important;
                    font-family: "Nunito Sans", sans-serif !important;
                    font-optical-sizing: auto;
                    font-weight: 400px;
                    font-style: normal;
                    font-variation-settings:
                        "wdth" 100,
                        "YTLC" 500;  
                }
            }
        }
    }
    #estilos{
        div{
            .card{
                a{
                    display: flex;
                    justify-content: center;
                    color: $color-naranja !important;
                    font-size: 15px !important;
                    font-family: "Nunito Sans", sans-serif !important;
                    font-optical-sizing: auto;
                    font-weight: 600px;
                    font-style: normal;
                    font-variation-settings:
                        "wdth" 100,
                        "YTLC" 500;  
                    padding: 5% !important;
                    background-color:#1a2222;
                    border-color:#1a2222;
                    &:hover{
                        color:black !important;
                    }
                }
            }
        }
    }
    #horarios{
        background-color: #ffff;
        border: #ffff;
        border-style: solid;
        padding: 30px;
        padding-bottom: 40px;
        margin-left: 5%;
        margin-right: 5%;
    }
    #horarios{
        h2{
            display: flex;
            justify-content: center;
            color: $color-naranja;
            font-size: 40px;
            text-align: center;
            font-family: "Inconsolata", monospace !important;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-variation-settings:
                  "wdth" 100;
        }
    } 
    #horarios{
        .d-flex{
            .row{
                .col{
                    .card{
                        transform: translate(0%, -10%);
                        box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
                        -webkit-box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
                        -moz-box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
                        transition: 0.7s;
                        &:hover{
                            margin-top: 10px !important;
                        }   
                    }
                }
            }
        }
    }
    #horarios{
        .d-flex{
            .row{
                .col{
                    .card{
                        .card-body{
                            h5{
                                color:$color-base !important;
                                text-align: center;
                                font-size: 20px !important;
                                font-family: "Nunito Sans", sans-serif !important;
                                font-optical-sizing: auto;
                                font-weight: 400px;
                                font-style: normal;
                                font-variation-settings:
                                     "wdth" 100,
                                     "YTLC" 500;  
                            }
                        }
                    }   
                }
            }
        }
    }
    #horarios{
        .d-flex{
            .row{
                .col{
                    .card{
                        .card-body{
                            p{
                                color:rgb(26, 34, 34, 0.6)!important;
                                font-size: 15px !important;
                                text-align: center;
                                font-family: "Nunito Sans", sans-serif !important;
                                font-optical-sizing: auto;
                                font-weight: 400px;
                                font-style: normal;
                                font-variation-settings:
                                     "wdth" 100,
                                     "YTLC" 500;  
                            }
                        }
                    }   
                }
            }
        }
    }
    #talleres{
        background-color:#1a2222;
        border: #ffff;
        border-style: solid;
        padding: 30px;
        padding-bottom: 40px;
        margin-left: 5%;
        margin-right: 5%;
   }
   #talleres{
        h2{
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-top: 3%;
            margin-bottom: 20px;
            color: $color-naranja;
            font-size: 40px;
            text-align: center;
            font-family: "Inconsolata", monospace;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-variation-settings:
                 "wdth" 100;
    }
   } 
   #talleres{
        p{
            display: flex;
            justify-content: center;
            text-align: justify;
            margin-left: 10%;
            margin-right: 10%;
            color:#ffff;
            font-size: 14px;
            text-decoration:none;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400px;
            font-style: italic;
    }
   } 
   #talleres .card{
        width: 20% !important;
        background-color:#1a2222;
        border-style: none;
        padding: 15px;
        transition: 0.7s;
        
   }
   #talleres{
        .d-flex{
            .card{
                &:hover{
                    padding: 30px !important; 
                }
            }
        }
   }
   #talleres{
        .d-flex{
            .card{
                h5{
                    color: $color-naranja;
                    font-size: 20px;
                    text-align: center;
                    font-family: "Nunito Sans", sans-serif !important;
                    font-optical-sizing: auto;
                    font-weight: 400px;
                    font-style: normal;
                    font-variation-settings:
                        "wdth" 100,
                        "YTLC" 500; 
                }
            }
        }
    }
    #talleres{
        .d-flex{
            .card{
                a{
                    display: flex;
                    justify-content: center;
                    color: $color-blanco !important;
                    font-size: 18px !important;
                    font-family: "Nunito Sans", sans-serif !important;
                    font-optical-sizing: auto;
                    font-weight: 700px;
                    font-style: normal;
                    font-variation-settings:
                        "wdth" 100,
                        "YTLC" 500;  
                    padding: 1% !important;
                    margin-left: 10%;
                    margin-right: 10%;
                    background-color:$color-base;
                    border-color:#bcc7c7;
                    opacity: 0.8;
                    transition: 0.7s; 
                    &:hover{
                        background-color: $color-naranja !important;
                        color: black !important;
                    }
                }
            }
        }
    }
    #tienda{
        background-color: #ffff;
        border: #ffff;
        border-style: solid;
        padding: 30px;
        padding-bottom: 40px;
        margin-left: 5%;
        margin-right: 5%;
   }
   #tienda{
        h2{
            color: $color-naranja;
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-bottom: 20px;
            font-size: 300%;
            font-optical-sizing: auto;
            font-family: "Rowdies", sans-serif;
            font-weight: 300;
            font-style: normal;
    }
   } 
   #tienda{
        p{
            display: flex;
            justify-content: center;
            color:#1a2222;
            font-size: 20px;
            text-align: justify;
            margin-left: 10%;
            margin-right: 10%;
            font-family: "Nunito Sans", sans-serif !important;
            font-optical-sizing: auto;
            font-weight: 400px;
            font-style: normal;
            font-variation-settings:
                "wdth" 100,
                "YTLC" 500; 
    }
   } 
   #tienda{
        a{
            color:#ee5623;
            font-size: 20px;
            text-align: justify;
            margin-left: 1%;
            text-decoration: none;
            font-family: "Nunito Sans", sans-serif !important;
            font-optical-sizing: auto;
            font-weight: 400px;
            font-style: normal;
            font-variation-settings:
                "wdth" 100,
                "YTLC" 500; 
        }
    }
}