@media (min-width: 999px){
    #pagina-talleres{
         padding: 10px;
         margin-top: 3%;
         background-color:$color-base;
         border-bottom: #1a2222;
         border-style: solid;
    }
    #pagina-talleres{
        .baner{
            img{
                width: 100%;
           }
    
        }     
    }
    #pagina-talleres{
        h2{
            margin: 5%;
            color: $color-naranja;
            font-size: 3rem;
            text-align: center;
            font-family: "Inconsolata", monospace;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-variation-settings:
             "wdth" 100;
       }
    }
    #pagina-talleres{
        p{
            margin-bottom: 5%;
            margin-left: 5%;
            margin-right: 5%;
            color:rgb(255, 255, 255, 0.7);
            font-size: 20px;
            text-decoration:none;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400px;
            font-style: italic;
       }
    } 
    #pagina-talleres{
        div{
            .container-fluid{
                display: flex;
                justify-content: space-around;   
           }
        }
    } 
    #pagina-talleres{
        div{
            .container-fluid{
                img{
                    width: 20%;
                    box-shadow: 10px 10px 5px 0px rgba(15,15,15,0.91);
                    -webkit-box-shadow: 10px 10px 5px 0px rgba(15,15,15,0.91);
                    -moz-box-shadow: 10px 10px 5px 0px rgba(15,15,15,0.91);
                    margin-bottom: 5%;
                    transition: 0.7s;
                    &:hover{
                        transform:scale(1.5);  
                    }
               }  
            } 
        }
    } 
    #pagina-talleres{
        div{
            h3{
                text-align: center;
                margin-top: 8%;
                margin-bottom: 3%;
                margin-left: 10%;
                margin-right: 10%;
                color: $color-naranja;
                font-size: 2rem;
                text-align: center;
                font-family: "Inconsolata", monospace;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100;
           }
        }
    }
    #pagina-talleres{
        div{
            p{
                margin-bottom: 8%;
                margin-left: 5%;
                margin-right: 5%;
                color:rgb(255, 255, 255, 0.7);
                font-size: 1rem;
                text-align: justify;
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400px;
                font-style: italic;
           }
        }
    }
    #pagina-talleres{
        .recibi-info{
            p{
                margin-bottom: 5%;
                margin-left: 5%;
                margin-right: 5%;
                color: rgb(255, 255, 255, 0.7);;
                font-size: 1rem;
                text-align: center;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 800px;
                font-style: italic;
                font-variation-settings:
                     "wdth" 100,
                     "YTLC" 500;
           }
        } 
    } 
    #pagina-talleres{
        .recibi-info{
            a{
                color: $color-naranja;
           }
        } 
    } 
    #pagina-talleres{
        .volver-inicio{
            a{
                color: #1a2222;
                display: flex;
                text-decoration: none;
                justify-content: center;
                align-content: center;
                margin-bottom: 3%;
                font-size: 20px;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 500px;
                font-style: normal;
                font-variation-settings:
                     "wdth" 100,
                     "YTLC" 500;  
                &:visited{
                    color:$color-naranja;  
                } 
           }
        } 
    } 
}