header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    width: 100%;
    height: auto;  
    z-index: 1;
    background-color: #1a2222;
    border-bottom: solid #bcc7c7;
}
header{
    nav{
        div{
            a{
                img{
                    width: 35%;
                }
            }
        }
    }
}