@import "base/reset.scss";
@import "layout/header.scss";
@import "media-queries/header-media-desktop.scss";
@import "layout/footer.scss";
@import "media-queries/footer-media-desktop.scss";
@import "layout/inicio.scss";
@import "media-queries/inicio-media-desktop.scss";
@import "layout/historia.scss";
@import "media-queries/historia-media-desktop.scss";
@import "layout/estilos.scss";
@import "media-queries/estilos-media-desktop.scss";
