@media (min-width: 200px) and (max-width: 999px){
    #pagina-estilos{
         padding: 10px;
         margin-top: 3%;
         background-color: $color-base;
         border-bottom: #1a2222;
         border-style: solid;
    }
    #pagina-estilos{
        h2{
            margin-top: 5%;
            font-size: 200%;
            color: $color-naranja;
            text-align: center;
            font-family: "Inconsolata", monospace;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-variation-settings:
             "wdth" 100;
       }
    } 
    #pagina-estilos{
        .d-flex{
            .card{
                background-color: $color-base;
                border-style: none;
                margin-left: 20%;
           }
        }
    } 
    #pagina-estilos{
        .d-flex{
            .card{
                .card-body{
                    .card-title{
                        color: #ffff;
                        text-decoration: underline !important;
                        font-size: 100%;
                        text-align: center !important;
                        font-family: "Nunito Sans", sans-serif !important;
                        font-optical-sizing: auto;
                        font-weight: 800px;
                        font-style: normal;
                        font-variation-settings:
                            "wdth" 100,
                            "YTLC" 500;
                    }
                }
            }
        }
    }
    #pagina-estilos{
        .d-flex{
            .card{
                .card-body{
                    .card-text{
                        margin-top: 3%;
                        margin-left: 8% !important;
                        margin-right: 8% !important;
                        color: $color-secundario;
                        font-size: 75%;
                        font-family: "Nunito Sans", sans-serif !important;
                        font-optical-sizing: auto;
                        font-weight: 800px;
                        font-style: italic;
                        font-variation-settings:
                            "wdth" 100,
                            "YTLC" 500;
                    }
                }
            }
        }
    }
    #pagina-estilos{
        .d-flex{
            .card{
                img{
                    width: 70% !important;
                    margin-left: 15%;
                    border-radius: 3px !important; 
                }
            }
        }
    }    
    #pagina-estilos{
        .d-flex{
            .card{
                .card-body{
                    a{
                        display: flex;
                        justify-content: center;
                        font-size: 15px;
                        padding: 5% !important;
                        background-color: $color-naranja!important;
                        border-color: $color-naranja !important;
                        color: black;
                        font-size: small;
                        font-family: "Nunito Sans", sans-serif !important;
                        font-optical-sizing: auto;
                        font-weight: 700;
                        font-style: normal;
                        font-variation-settings:
                             "wdth" 100,
                             "YTLC" 500;
                    }
                }
            }
        }
    }
    #pagina-eestilos{
        .volver-inicio{
            display: none;
       }
    } 
}