footer{
    background-color: #1a2222;
    padding: auto;
}
footer{
    .nos-vemos{
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
    }
}
footer{
    .nos-vemos{
        h2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color:#1a2222;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
            border-radius: 10px; 
            opacity: 0.7;
            color:#ee5623;
            text-align: center;
            font-optical-sizing: auto;
            font-size: 150%;
            font-family: brandon-grotesque, sans-serif;
            font-style: italic;
            font-weight: 500; 
        }
    }
}
footer{
    #form-contacto{
        border-top:rgb(188,199,199, 0.1);
        border-style: solid;
    }
}
footer{
    #form-contacto{
        p{
            padding: 15px;
            margin-top: 2%;
            color:#ee5623;
            font-size: small;
            text-align: center;
            font-family: "Nunito Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings:
                "wdth" 100,
                "YTLC" 500; 
        }
    }
}
footer{
    #form-contacto{
        .container-form{
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 3%;
            flex-wrap: wrap !important;
            break-before: 500px !important;
            flex-direction: column !important;
        }
    }
}
footer{
    #form-contacto{
        .container-form{
            label{
                color:#ee5623 !important;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 400px;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100,
                    "YTLC" 500;  
            }
        }
    }
}
footer{
    #form-contacto{
        .container-form{
            input{
                background-color: #bcc7c7;  
            }
        }
    }
}
footer{
    #form-contacto{
        .container-form{
            textarea{
                background-color: #bcc7c7;
            }
        }
    }
}
footer{
    .contacto{
        background-color:rgb(188,199,199, 0.1);  
    }
}
footer{
    .contacto{
        h3{
            margin-top: 10%;
            color:#ee5623;
            font-size: 15px;
            text-align: center;
            text-decoration: underline;
            font-family: "Nunito Sans", sans-serif !important;
            font-optical-sizing: auto;
            font-weight: 400px;
            font-style: normal;
            font-variation-settings:
                "wdth" 100,
                "YTLC" 500; 
        }
    }
}
footer{
    .contacto{
        p{
            color:#bcc7c7 !important;
            font-size: 15px;
            text-align: center;
            font-family: "Nunito Sans", sans-serif !important;
            font-optical-sizing: auto;
            font-weight: 800px;
            font-style: normal;
            font-variation-settings:
                "wdth" 100,
                "YTLC" 500;
        }
    }
}
footer{
    .contacto{
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 6%;
            gap: 10px;  
        }
    }
}
footer{
    .end{
        h3{
            font-size: 50%;
            color: black;  
        }
    }
}
footer{
    .botones-flotantes{
        display:block;
        position: fixed;
    }
}
footer{
    .botones-flotantes{
        a{
            img{
                width: 100%;
            }
        }
    }
}
