@media (min-width: 200px) and (max-width: 999px) {
    .pagina-historia{
         padding: 10px;
         background-color: #ffff;
        
    }
    .pagina-historia{
        .clearfix{
            display: flex;
            flex-direction:column;
            align-items: center !important;
            justify-content: center !important;
            padding: 0px !important;
            margin-top: 5%;
        }
    } 
    .pagina-historia{
        .clearfix{
            h2{
                font-size: 200%;
                color: black;
                text-align: center;
                font-family: "Inconsolata", monospace;
                font-optical-sizing: auto;
                font-weight: 100;
                font-style: normal;
                font-variation-settings:
                "wdth" 100;    
            }
        }
    }  
    .pagina-historia{
        .clearfix{
            p{
                color:rgb(26, 34, 34, 0.6);
                font-size: 100%;
                text-align:justify;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 500px;
                font-style: italic;
                font-variation-settings:
                     "wdth" 100,
                     "YTLC" 500; 
            }
        }
    } 
    .pagina-historia{
        .clearfix{
            img{
                margin-top: 22%;
                width: 90%;
                box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
                -webkit-box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
                -moz-box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56); 
            }
        }
    } 
    .pagina-historia{
        .container-fluid{
            h2{
                font-size: 200%;
                color: black;
                text-align: center;
                font-family: "Inconsolata", monospace;
                font-optical-sizing: auto;
                font-weight: 100;
                font-style: normal;
                font-variation-settings:
                "wdth" 100;  
            }
        }
    } 
    .pagina-historia{
        .container-fluid{
            p{
                margin-top: 5%;
                margin-left: 10%;
                margin-right: 10%;
                margin-bottom: 5%;
                color:rgb(26, 34, 34, 0.6);
                font-size: 100%;
                text-align:justify;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 500px;
                font-style: italic;
                font-variation-settings:
                    "wdth" 100,
                    "YTLC" 500;   
            }
        }
    } 
    .pagina-historia{
        .container-fluid{
            .fotos{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 10%;
                margin-left: 5%;
                margin-right: 5%; 
            }
        }
    } 
    .pagina-historia{
        .container-fluid{
            img{
                width: 40%;
                margin-bottom: 5%;
                box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
                -webkit-box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
                -moz-box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
            }
        }
    } 
    .pagina-historia{
        .volver-inicio{
            display: none;
        }
    }
}