$color-base:#1a2222;
$color-secundario:rgb(188,199,199, 0.5);
$color-blanco: #bcc7c7;
$color-contraste: #ee5623;
$color-naranja: rgb(227, 137, 57);

@media (min-width: 200px) and (max-width: 999px) {
    #pagina-horarios{
         padding: 10px;
         background-color:#ffff;
         border-bottom: #1a2222;
         border-style: solid;
         background-image: url(../assets/fondo-horiz3.jpg);
    }
    #pagina-horarios{
        h2{
            margin-top: 5%;
            font-size: 200%;
            color: black;
            text-align: center;
            font-family: "Inconsolata", monospace;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-variation-settings:
             "wdth" 100;
       }
    } 
    #pagina-horarios{
        .clearfix{
            display: flex;
            flex-direction:column;
            align-items: center !important;
            justify-content: center !important;
            padding: 20px;
            margin-top: 5%;
       }
    } 
    #pagina-horarios{
        .clearfix{
            img{
                box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
                -webkit-box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
                -moz-box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
            }  
        }
    }
    
    #pagina-horarios{
        .clearfix{
            h3{
                margin-top: 10%;
                color: black;
                font-size: 100%;
                text-align: center !important;
                font-family: "Inconsolata", monospace;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100;
            }
        } 
    } 
    #pagina-horarios .clearfix h5{
         color: $color-naranja;
         text-decoration: none;
         font-size: 75%;
         text-align: center !important;
         font-family: "Inconsolata", monospace;
         font-optical-sizing: auto;
         font-weight: 500;
         font-style: normal;
         font-variation-settings:
             "wdth" 100;
    }
    #pagina-horarios{
        .clearfix{
            p{
                margin-top: 3%;
                margin-left: 8% !important;
                margin-right: 8% !important;
                color: rgb(26, 34, 34, 0.6);
                font-size: 70%;
                text-align: center;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 800px;
                font-style: italic;
                font-variation-settings:
                     "wdth" 100,
                     "YTLC" 500;
           }
        } 
    } 
    #pagina-horarios{
        .clearfix{
            a{
                display: flex;
                justify-content: center;
                font-size: 15px;
                padding: 5%;
                box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
                -webkit-box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
                -moz-box-shadow: 6px 3px 21px 4px rgba(36,35,35,0.56);
                border-radius: 3%;
                background-color: $color-naranja !important;
                border-color: $color-naranja !important;
                color: black;
                font-size: small;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-variation-settings:
                     "wdth" 100,
                     "YTLC" 500;
           }
        } 
    } 
    #pagina-horarios{
        .d-flex{
            .card{
                width: 20% !important;
                border-style: none;
                background: transparent !important;
                padding: 15px;
                display: flex;
                justify-content: center !important;
                align-items: center !important;
                text-align: center;
           }
        }
    } 
    #pagina-horarios{
        .d-flex{
            .card{
                h5{
                    color: $color-base!important;
                    font-size: 75%;
               }
            } 
        }
    } 
    #pagina-horarios{
        .d-flex{
            .card{
                p{  font-weight: 300px !important;
                    font-size: 70%;
               }
            } 
        }
    } 
    #pagina-horarios{
        .d-flex{
            .card{
                a{
                    background-color: $color-naranja !important;
                    border-color: $color-naranja !important;
                    color: black;
                    font-size: 50%;
                    font-family: "Nunito Sans", sans-serif !important;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;
                    font-variation-settings:
                         "wdth" 100,
                         "YTLC" 500;
               }    
            } 
        }
    } 
    #pagina-horarios{
        .links{
            display: none;
         }
    } 

}