$color-base:#1a2222;
$color-secundario:rgb(188,199,199, 0.5);
$color-blanco: #bcc7c7;
$color-contraste: #ee5623;

#inicio{
    position: relative;
    border: $color-secundario;
    border-style: solid;
}
#inicio{
    .title{
        position: absolute;
        top: 68%;
        left: 28%;
        transform: translate(-50%, -50%);
        background-color: rgb(0, 0, 0, 0.7);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 10px;
    }
} 
#inicio{
    .title{
        h1{
            color: $color-contraste;
            font-size: 140%;
            font-optical-sizing: auto;
            font-family: "Rowdies", sans-serif;
            font-weight: 300;
            font-style: normal;  
        }
    }
} 
#inicio{
    .title{
        h2{
            color: $color-blanco;
            font-optical-sizing: auto;
            font-size: 50%;
            font-family: brandon-grotesque, sans-serif;
            font-style: italic;
            font-weight: 500;
        }
    }
} 
#historia{
    border: $color-secundario;
    border-style: solid;
    padding:30px;
    padding-bottom: 40px;
    background-color:#1a2222;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
#historia{
    img{
        width: 50%;
        margin-top: 10%;
        margin-bottom: 10%;
        border-color: #1a2222;
        border-style: solid;
        grid-row: 1/2;
        justify-self: center;
        align-self: center; 
    }
}
#historia{
    .container-historia{
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
        margin-left: 20%;
        margin-right: 20%;          
    }
}
#historia{
    .container-historia{
        .columna1{
            h2{
                margin-bottom: 10px;
                margin-top: 10px;
                color: $color-contraste;
                text-decoration: underline !important;
                font-size: 18px;
                font-family: brandon-grotesque, sans-serif;
                font-style: normal;
                font-weight: 100;
            }
        }
    }
}   
#historia{
    .container-historia{
        .columna1{
            a{
                padding: 5px; 
                margin: 5px;
                color: $color-blanco;
                font-size: 8px;
                text-decoration:underline;
                font-family: "Nunito Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400px;
                font-style: normal;
                font-variation-settings:
                     "wdth" 100,
                     "YTLC" 500;  
                &:visited{
                    color:#ee5623;
                }
            }  
        }
    }
}  
#historia{
    .container-historia{
        .columna1{
            p{
                margin-bottom: 40px;
                color: $color-blanco;
                font-size: 8px;
                text-decoration:none;
                font-family: "Nunito Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400px;
                font-style: normal;
                font-variation-settings:
                      "wdth" 100,
                      "YTLC" 500;
            }
        }
    }
}
#estilos{
    background-color:rgb(26,34,34);
    border: rgb(188,199,199, 0.5);
    border-style: solid;
    padding:30px;
    padding-bottom: 40px;
}
#estilos{
    h2{
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-bottom: 20px;
        color: $color-contraste;
        text-align: center;
        font-size: 40px;
        text-decoration:underline;
        font-family: brandon-grotesque, sans-serif;
        font-style: normal;
        font-weight: 500;
    }
}
#estilos{
    div{
        .card{
            width: 20% !important;
            background-color:#1a2222;
        }
    }
}     
#estilos{
    div{
        .card{
            img{
                width: 100%;
            }
        }
    }
} 
#estilos{
    div{
        .card{
            h5{
                color:$color-blanco !important;
                text-align: center;
                font-size: 18px !important;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 400px;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100,
                    "YTLC" 500;    
            }
        }
    }
}
#estilos{
    div{
        .card{
            p{
                color:$color-blanco !important;
                font-size: 12px !important;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 400px;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100,
                    "YTLC" 500;  
            }
        }
    }
}
#estilos{
    div{
        .card{
            a{
                display: flex;
                justify-content: center;
                color: $color-contraste !important;
                font-size: 15px !important;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 600px;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100,
                    "YTLC" 500;  
                padding: 5% !important;
                background-color:#1a2222;
                border-color:#1a2222;
            }
        }
    }
}
#horarios{
    background-color:#1a2222;
    border: rgb(188,199,199, 0.5);
    border-style: solid;
    padding: 30px;
    padding-bottom: 40px;
}
#horarios{
    h2{
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-bottom: 20px;
        color:$color-contraste;
        font-size: 40px;
        text-align: center;
        text-decoration:underline;
        font-family: brandon-grotesque, sans-serif;
        font-style: normal;
        font-weight: 500;
    }
} 
#horarios{
    p{
        display: flex;
        justify-content: center;
        color:$color-blanco;
        font-size: 30px;
        font-family: "Nunito Sans", sans-serif !important;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;
        font-variation-settings:
             "wdth" 100,
             "YTLC" 500;  
    }
} 
#horarios{
    .d-flex{
        .row{
            .col{
                .card{
                    background-color:#1a2222;
                }
            }
        }
    }
}
#horarios{
    .d-flex{
        .row{
            .col{
                .card{
                    .card-body{
                        h5{
                            color:$color-blanco !important;
                            text-align: center;
                            font-size: 20px !important;
                            font-family: "Nunito Sans", sans-serif !important;
                            font-optical-sizing: auto;
                            font-weight: 400px;
                            font-style: normal;
                            font-variation-settings:
                                 "wdth" 100,
                                 "YTLC" 500;  
                        }
                    }
                }   
            }
        }
    }
}
#horarios{
    .d-flex{
        .row{
            .col{
                .card{
                    .card-body{
                        p{
                            color:$color-blanco !important;
                            font-size: 15px !important;
                            text-align: center;
                            font-family: "Nunito Sans", sans-serif !important;
                            font-optical-sizing: auto;
                            font-weight: 400px;
                            font-style: normal;
                            font-variation-settings:
                                 "wdth" 100,
                                 "YTLC" 500;  
                        }
                    }
                }   
            }
        }
    }
}
/*#horarios{
    .d-flex{
        .row{
            .col{
                .card{
                    .card-body{
                        a{
                            display: flex;
                            justify-content: center;
                            color:#1a2222 !important;
                            font-size: 18px !important;
                            font-family: "Nunito Sans", sans-serif !important;
                            font-optical-sizing: auto;
                            font-weight: 700px;
                            font-style: normal;
                            font-variation-settings:
                                "wdth" 100,
                                "YTLC" 500;  
                            padding: 1% !important;
                            background-color: $color-contraste;
                            border-color: $color-contraste;
                            opacity: 0.8;
                        }
                    }
                }
            }   
        }
    }
}*/
#talleres{
    background-color:#1a2222;
    border: rgb(188,199,199, 0.5);
    border-style: solid;
    padding: 30px;
    padding-bottom: 40px;
}
#talleres{
    h2{
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-top: 3%;
        margin-bottom: 20px;
        color: $color-contraste;
        font-size: 40px;
        text-align: center;
        text-decoration:underline;
        font-family: brandon-grotesque, sans-serif;
        font-style: normal;
        font-weight: 500;
    }
} 
#talleres{
    p{
        display: flex;
        justify-content: center;
        color:$color-blanco;
        font-size: 20px;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
        font-family: "Nunito Sans", sans-serif !important;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;
        font-variation-settings:
            "wdth" 100,
            "YTLC" 500; 
    }
} 
#talleres .card{
    width: 20% !important;
    background-color:#1a2222;
    border-style: none;
    padding: 15px;  
}
#talleres{
    .d-flex{
        .card{
            h5{
                color: $color-contraste;
                font-size: 20px;
                text-align: center;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 400px;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100,
                    "YTLC" 500; 
            }
        }
    }
}
#talleres{
    .d-flex{
        .card{
            a{
                display: flex;
                justify-content: center;
                color:#1a2222 !important;
                font-size: 18px !important;
                font-family: "Nunito Sans", sans-serif !important;
                font-optical-sizing: auto;
                font-weight: 700px;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100,
                    "YTLC" 500;  
                padding: 1% !important;
                margin-left: 10%;
                margin-right: 10%;
                background-color:$color-blanco;
                border-color:$color-blanco;
                opacity: 0.8;
            }
        }
    }
}
#tienda{
    background-color: $color-blanco;
    border: rgb(188,199,199, 0.5);
    border-style: solid;
    padding: 30px;
    padding-bottom: 40px;
}
#tienda{
    h2{
        color: $color-contraste;
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-bottom: 20px;
        font-size: 150%;
        font-optical-sizing: auto;
        font-family: "Rowdies", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
} 
#tienda{
    p{
        display: flex;
        justify-content: center;
        color:#1a2222;
        font-size: 80%;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
        font-family: "Nunito Sans", sans-serif !important;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;
        font-variation-settings:
             "wdth" 100,
             "YTLC" 500; 
    }
} 
#tienda{
    a{
        color: $color-contraste;
        font-size: 80%;
        text-align: justify;
        margin-left: 1%;
        text-decoration: none;
        font-family: "Nunito Sans", sans-serif !important;
        font-optical-sizing: auto;
        font-weight: 400px;
        font-style: normal;
        font-variation-settings:
             "wdth" 100,
             "YTLC" 500; 
    }
} 