@media (min-width: 200px) and (max-width: 999px){
    #pagina-talleres{
        padding: 10px;
        margin-top: 3%;
        background-color:$color-base;
        border-bottom: #1a2222;
        border-style: solid;
        background-image: url(../assets/fondo0.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #pagina-talleres{
        .baner{
            img{
                width: 100%;
           }
    
        }     
    }
    #pagina-talleres{
        h2{
            margin: 5%;
            color: $color-naranja;
            padding: 50px;
            background-color: rgb(0, 0, 0, 0.5);
            font-size: 100%;
            text-align: center;
            font-family: "Inconsolata", monospace;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-variation-settings:
             "wdth" 100;
       }
    }
    #pagina-talleres{
        p{
            margin-bottom: 5%;
            margin-left: 5%;
            margin-right: 5%;
            color:rgb(0, 0, 0, 0.5);
            font-size: 70%;
            text-align: justify;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400px;
            font-style: italic;
       }
    } 
    #pagina-talleres{
        div{
            .container-fluid{
                display: flex;
                justify-content: space-around;   
           }
        }
    } 
    #pagina-talleres{
        div{
            .container-fluid{
                img{
                    width: 20%;
                    box-shadow: 10px 10px 5px 0px rgba(15,15,15,0.91);
                    -webkit-box-shadow: 10px 10px 5px 0px rgba(15,15,15,0.91);
                    -moz-box-shadow: 10px 10px 5px 0px rgba(15,15,15,0.91);
                    margin-bottom: 5%; 
                    }
               }  
            } 
    }
    #pagina-talleres{
        div{
            h3{
                text-align: center;
                margin-bottom: 3%;
                margin-top: 8%;
                margin-left: 10%;
                margin-right: 10%;
                color: $color-naranja;
                font-size: 80% !important;
                text-align: center;
                font-family: "Inconsolata", monospace;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100;
           }
        }
    }
    #pagina-talleres{
        div{
            p{
                margin-bottom: 8%;
                margin-left: 5%;
                margin-right: 5%;
                color:rgb(0, 0, 0, 0.7);
                font-size: 65% !important;
                text-align: justify;
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400px;
                font-style: italic;
           }
        }
    }
    #pagina-talleres{
        .recibi-info{
            p{
                margin-bottom: 5%;
                margin-left: 5%;
                margin-right: 5%;
                color:rgb(0, 0, 0, 0.7);
                font-size: 65% !important;
                text-align: center;
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 700px;
                font-style: italic;
           }
        } 
    } 
    #pagina-talleres{
        .recibi-info{
            a{
                color: $color-naranja;
           }
        } 
    } 
    #pagina-talleres{
        .volver-inicio{
           display: none;
        } 
    } 
}