@media (min-width: 200px) and (max-width: 999px){
    .pagina-tienda{
         padding: 10px;
         background-color:#ffff;
         border-bottom: #1a2222;
         border-style: solid;
         background-image: url(../assets/fondo-horiz1.jpg);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
    }
    .pagina-tienda{
        h2{
            margin-top: 5%;
            color: $color-naranja;
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-bottom: 20px;
            font-size: 150%;
            font-optical-sizing: auto;
            font-family: "Rowdies", sans-serif;
            font-weight: 300;
            font-style: normal;
       }
    } 
    .pagina-tienda{
        p{
            display: flex;
            justify-content: center;
            color:#1a2222;
            padding: 70px;
            background-color: $color-secundario;
            font-size: 80%;
            text-align: justify;
            font-family: "Nunito Sans", sans-serif !important;
            font-optical-sizing: auto;
            font-weight: 400px;
            font-style: normal;
            font-variation-settings:
                 "wdth" 100,
                 "YTLC" 500; 
       }
    } 
    .pagina-tienda{
        a{
            color:$color-naranja;
            font-size: 80%;
            text-align: justify;
            margin-left: 1%;
            text-decoration: none;
            font-family: "Nunito Sans", sans-serif !important;
            font-optical-sizing: auto;
            font-weight: 400px;
            font-style: normal;
            font-variation-settings:
                 "wdth" 100,
                 "YTLC" 500; 
       }
    } 
}