*{  
     padding: 0px;
     margin: 0px;
}

html{
     font-size: 16px;
}
header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed; 
     top: 0;
     width: 100%;
     height: auto;  
     z-index: 1;
     background-color: #1a2222;
     border-bottom: solid #bcc7c7;
}
.container-fluid a img{
     width: 35%;
}
.navbar-nav li a{
     font-family: "Nunito Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: normal;
     font-variation-settings:
      "wdth" 100,
      "YTLC" 500;  
     font-size: 1rem; 
     color: #bcc7c7 !important;
}
.navbar-nav li a:hover{
     color: #ee5623 !important;
     padding: 10px;
     transition: 0.5s;
}
.barra-sm{
     display: none;
}
@media (min-width: 999px){
.barra-sm{
     display: block;
     display: flex;
     justify-content: space-between;
     gap: 10px;
     align-items:end;
     margin-right: 3%;
}
.barra-sm a:hover{
     margin: 10px 0px;
     transition: 0.5s;
} 
}
.container-fluid button{
     border-color: #bcc7c7;
}
main{
     padding-top: 2px;
     margin-top: 50px;
}
#inicio{
     position: relative;
}
#inicio .title{
     position: absolute;
     top: 68%;
     left: 20%;
     transform: translate(-50%, -50%);
     background-color: rgb(0, 0, 0, 0.7);
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 2px;
     padding-bottom: 2px;
     border-radius: 10px; 
}
#inicio h1{
     color:#ee5623;
     font-size: 350%;
     font-optical-sizing: auto;
     font-family: "Rowdies", sans-serif;
     font-weight: 300;
     font-style: normal;
}
#inicio h2{
     color:#bcc7c7;
     font-optical-sizing: auto;
     font-size: 150%;
     font-family: brandon-grotesque, sans-serif;
     font-style: italic;
     font-weight: 500;
}

#historia{
      border-top: #1a2222;
      border-style: solid;
      background-color:#bcc7c7;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
}
#historia img{
      width: 50%;
      margin-top: 10%;
      margin-bottom: 10%;
      border-color: #1a2222;
      border-style: solid;
      grid-row: 1/2;
      justify-self: center;
      align-self: center;
}
.container-historia{
      grid-row: 2/3;
      justify-self: center;
      align-self: center;
      margin-left: 20%;
      margin-right: 20%;          
}
     
#historia h2{
      margin-bottom: 10px;
      margin-top: 10px;
      color:#ee5623;
      font-size: 18px;
      text-decoration:none;
      font-family: brandon-grotesque, sans-serif;
      font-style: normal;
      font-weight: 100;
}
     
#historia a{
      padding: 5px; 
      margin: 5px;
      color:#ee5623;
      font-size: 8px;
      text-decoration:underline;
      font-family: "Nunito Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400px;
      font-style: normal;
      font-variation-settings:
           "wdth" 100,
           "YTLC" 500;
}
      
#historia p{
      margin-bottom: 40px;
      color:#1a2222;
      font-size: 8px;
      text-decoration:none;
      font-family: "Nunito Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400px;
      font-style: normal;
      font-variation-settings:
            "wdth" 100,
            "YTLC" 500;
}
@media (min-width: 1000px){      
     #historia{
          background-color:#bcc7c7;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: auto;
     }
     #historia img{
          width: 50%;
          margin-top: 10%;
          margin-bottom: 10%;
          border-color: #1a2222;
          border-style: solid;
          grid-column: 1/2;
          justify-self:flex-end;
          align-self: center;
     }
     .container-historia{
          grid-column: 2/3;
          grid-row: 1;
          justify-self: center;
          align-self: center;
          margin-right: 30%;
          margin-left: 8%;
     }     
     #historia h2{
          margin-bottom: 10px;
          margin-top: 10px;
          color:#ee5623;
          font-size: 24px;
          text-decoration:none;
          font-family: brandon-grotesque, sans-serif;
          font-style: normal;
          font-weight: 100;
     }
          
     #historia a{
          padding: 5px; 
          margin: 5px;
          color:#ee5623;
          font-size: 14px;
          text-decoration:underline;
          font-family: "Nunito Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400px;
          font-style: normal;
          font-variation-settings:
               "wdth" 100,
               "YTLC" 500;
     }
          
     #historia p{
          margin-bottom: 40px;
          color:#1a2222;
          font-size: 14px;
          text-decoration:none;
          font-family: "Nunito Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400px;
          font-style: normal;
          font-variation-settings:
               "wdth" 100,
               "YTLC" 500;
     }
}
#estilos{
     background-color:#1a2222;
     padding: 30px;
     padding-bottom: 40px;
}
#estilos img{
     width: 100%;
}
#estilos h2{
     display: flex;
     justify-content: center;
     padding: 20px;
     margin-bottom: 20px;
     color:#ee5623;
     text-align: center;
     font-size: 40px;
     text-decoration:underline;
     font-family: brandon-grotesque, sans-serif;
     font-style: normal;
     font-weight: 500;
}
#estilos .card{
     background-color:#1a2222;
}
#estilos h5{
     color:#bcc7c7 !important;
     text-align: center;
     font-size: 18px !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
}
#estilos p{
     color:#bcc7c7 !important;
     font-size: 12px !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
}
#estilos a{
     display: flex;
     justify-content: center;
     color:#ee5623 !important;
     font-size: 15px !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 600px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
     padding: 5% !important;
     background-color:#1a2222;
     border-color:#1a2222;
}

#horarios{
     background-color:#1a2222;
     border-top: #bcc7c7;
     border-style: solid;
     padding: 30px;
     padding-bottom: 40px;
}
#horarios h2{
     display: flex;
     justify-content: center;
     padding: 20px;
     margin-bottom: 20px;
     color:#ee5623;
     font-size: 40px;
     text-align: center;
     text-decoration:underline;
     font-family: brandon-grotesque, sans-serif;
     font-style: normal;
     font-weight: 500;
}
#horarios p{
     display: flex;
     justify-content: center;
     color:#bcc7c7;
     font-size: 20px;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
}
#horarios .card{
     background-color:#1a2222;
}
#horarios h5{
     color:#bcc7c7 !important;
     text-align: center;
     font-size: 20px !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
}
#horarios p{
     color:#bcc7c7 !important;
     font-size: 15px !important;
     text-align: center;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
}
#horarios a{
     display: flex;
     justify-content: center;
     color:#1a2222 !important;
     font-size: 18px !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 700px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
     padding: 1% !important;
     background-color:#ee5623;
     border-color: #ee5623;
     opacity: 0.8;
}
#talleres{
     background-color:#1a2222;

}
#talleres h2{
     display: flex;
     justify-content: center;
     padding: 20px;
     margin-bottom: 20px;
     color:#ee5623;
     font-size: 40px;
     text-align: center;
     text-decoration:underline;
     font-family: brandon-grotesque, sans-serif;
     font-style: normal;
     font-weight: 500;
}
#talleres p{
     display: flex;
     justify-content: center;
     color:#bcc7c7;
     font-size: 20px;
     text-align: justify;
     margin-left: 10%;
     margin-right: 10%;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500; 
}
#talleres .card{
     background-color:#1a2222;
     border-style: none;
     padding: 15px;
     
}
#talleres h5{
     color:#ee5623;
     font-size: 20px;
     text-align: center;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500; 
}
#talleres a{
     display: flex;
     justify-content: center;
     color:#1a2222 !important;
     font-size: 18px !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 700px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
     padding: 1% !important;
     margin-left: 10%;
     margin-right: 10%;
     background-color:#bcc7c7;
     border-color:#bcc7c7;
     opacity: 0.8;
}
#tienda{
     background-color: #bcc7c7;
     padding: 5%;
}
#tienda h2{
     color: #ee5623;
     display: flex;
     justify-content: center;
     padding: 20px;
     margin-bottom: 20px;
     font-optical-sizing: auto;
     font-family: "Rowdies", sans-serif;
     font-weight: 300;
     font-style: normal;
}
#tienda p{
     display: flex;
     justify-content: center;
     color:#1a2222;
     font-size: 20px;
     text-align: justify;
     margin-left: 10%;
     margin-right: 10%;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500; 
}
#tienda a{
     color:#ee5623;
     font-size: 20px;
     text-align: justify;
     margin-left: 1%;
     text-decoration: none;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500; 
}
footer{
     background-color: #1a2222;
     padding: auto;
}
.nos-vemos{
     position: relative;
}
.nos-vemos h2{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color:#1a2222;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 2px;
     padding-bottom: 2px;
     border-radius: 10px; 
     opacity: 0.7;
     color:#ee5623;
     font-optical-sizing: auto;
     font-size: 400%;
     font-family: brandon-grotesque, sans-serif;
     font-style: italic;
     font-weight: 500; 
}
#form-contacto{
     border-top: #bcc7c7;
     border-style: solid;
}
#form-contacto p{
     padding: 15px;
     margin-top: 2%;
     color:#ee5623;
     text-align: center;
     font-family: "Nunito Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500; 
}
.container-form{
     margin-left: 10%;
     margin-right: 10%;
     margin-bottom: 3%;
}
.container-form label{
     color:#ee5623 !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500; 
}
.container-form input{
     background-color: #bcc7c7;
}
.container-form textarea{
     background-color: #bcc7c7;
}
.contacto{
     background-color:#1a2222;
     border-top: #bcc7c7;
     border-style: solid;
     padding: 10px;
}
.contacto h3{
     margin-top: 5%;
     color:#ee5623;
     font-size: 20px;
     text-align: center;
     text-decoration: underline;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500; 
}
.contacto p{
     color:#bcc7c7 !important;
     font-size: 20px;
     text-align: center;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 800px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;
}
.contacto ul{
     list-style: none;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 6%;
}
.end h3{
     font-size: 100%;
     color: black;
}
.botones-flotantes{
     display: none;
}
