*{  
     padding: 0px;
     margin: 0px;
}

html{
     font-size: 16px;
}

header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed; 
     top: 0;
     width: 100%;
     height: auto;  
     z-index: 1;
     background-color: #1a2222;
     border-bottom: solid #bcc7c7;
     padding: 2px;
}

.logo{
     width: 15%;
}
.logo a img{
     width: 30%;
     height: auto;
}

.lista-links{
     display: none;
}

/**nav .dropdown-menu{
     
}

.dropdown-toggle::after {
     display: none !important;
}

.dropdown-item{
     color: #1a2222 !important;
}**/
.barra-sm{
     display: none;
}

@media (min-width: 1000px){
     .logo{
          margin-left: 3%;
     }
     .logo a img{
          width: 100%;
          height: auto;
     }
     .lista-links{ 
          display: flex;
          list-style-type: none;
          justify-content: space-between;
          gap: 25px;
     }
     
     .lista-links li a:hover{
          color: #ee5623;
          padding: 10px;
          transition: 0.5s;
     }
     
     .lista-links li{
          font-family: "Nunito Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
          font-variation-settings:
         "wdth" 100,
         "YTLC" 500;  
         font-size: 1rem; 
     } 
     
     .lista-links a{
          color: #bcc7c7; 
          text-decoration: none;
     }

     .barra-sm{
          display: flex;
          justify-content: space-between;
          gap: 10px;
          align-items:end;
          margin-right: 3%;
     }
     
     .barra-sm a:hover{
          margin: 10px 0px;
          transition: 0.5s;
     }   
     
     .dropdown-menu{
          display: none;
     }
     }

main{
     padding-top: 2px;
     margin-top: 50px;
}

#inicio{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: auto auto auto;
}

#carouselExample{
     grid-column: 1/3;
     grid-row: 1/4;
}

#inicio .title{
     grid-column: 1/2;
     grid-row: 2/3;
     justify-self: center;  
     background-color:#bcc7c7;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 1px;
     padding-bottom: 1px;
     border-radius: 10px; 
     opacity: 0.7;
   }


#inicio h1 span{ 
     color: #1a2222;
     font-size: 10px;        
}

#inicio h1{
     color:#ee5623;
     font-size: 17px;
     text-decoration:none;
     font-family: brandon-grotesque, sans-serif;
     font-style: italic;
     font-weight: 500; 
}

#inicio h2{
     display: flex;
     color:#1a2222;
     font-size: 10px;
     text-decoration:none;
     font-family: "Nunito Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

@media (max-width: 650) and (min-width: 450px){      
     #inicio h1 span{ 
          color: #1a2222;
          font-size: 12px;        
     }
     
     #inicio h1{
          color:#ee5623;
          font-size: 17px;
          text-decoration:none;
          font-family: brandon-grotesque, sans-serif;
          font-style: italic;
          font-weight: 500; 
     }
     
     #inicio h2{
          display: flex;  
          color:#1a2222;
          font-size: 8px;
          text-decoration:none;
          font-family: "Nunito Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400px;
          font-style: normal;
          font-variation-settings:
           "wdth" 100,
           "YTLC" 500;
     }
}

@media (max-width: 800) and (min-width: 650px){      
     #inicio h1 span{ 
          color: #1a2222;
          font-size: 20px;        
     }
     
     #inicio h1{
          color:#ee5623;
          font-size: 25px;
          text-decoration:none;
          font-family: brandon-grotesque, sans-serif;
          font-style: italic;
          font-weight: 500; 
     }
     
     #inicio h2{
          display: flex;  
          color:#1a2222;
          font-size: 17px;
          text-decoration:none;
          font-family: "Nunito Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400px;
          font-style: normal;
          font-variation-settings:
           "wdth" 100,
           "YTLC" 500;
     }
}

@media (max-width: 1000) and (min-width: 800px){      
     #inicio h1 span{ 
          color: #1a2222;
          font-size: 30px;        
     }

     #inicio h1{
          color:#ee5623;
          font-size: 30px;
          text-decoration:none;
          font-family: brandon-grotesque, sans-serif;
          font-style: italic;
          font-weight: 500; 
     }
     
     #inicio h2{
          display: flex;  
          color:#1a2222;
          font-size: 22px;
          text-decoration:none;
          font-family: "Nunito Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400px;
          font-style: normal;
          font-variation-settings:
           "wdth" 100,
           "YTLC" 500;
     }
}

#historia{
      border-top: #1a2222;
      border-style: solid;
      background-color:#bcc7c7;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
}
#historia img{
      width: 50%;
      margin-top: 10%;
      margin-bottom: 10%;
      border-color: #1a2222;
      border-style: solid;
      grid-row: 1/2;
      justify-self: center;
      align-self: center;
}
.container-historia{
      grid-row: 2/3;
      justify-self: center;
      align-self: center;
      margin-left: 20%;
      margin-right: 20%;          
}
     
#historia h2{
      margin-bottom: 10px;
      margin-top: 10px;
      color:#ee5623;
      font-size: 18px;
      text-decoration:none;
      font-family: brandon-grotesque, sans-serif;
      font-style: normal;
      font-weight: 100;
}
     
#historia a{
      padding: 5px; 
      margin: 5px;
      color:#ee5623;
      font-size: 8px;
      text-decoration:underline;
      font-family: "Nunito Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400px;
      font-style: normal;
      font-variation-settings:
           "wdth" 100,
           "YTLC" 500;
}
      
#historia p{
      margin-bottom: 40px;
      color:#1a2222;
      font-size: 8px;
      text-decoration:none;
      font-family: "Nunito Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400px;
      font-style: normal;
      font-variation-settings:
            "wdth" 100,
            "YTLC" 500;
}
/**@media (max-width: 999px) and (min-width:750){
     #historia{
          background-color: #1a2222;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto auto;
    }
    #historia img{
          width: 30%;
          margin-top: 10%;
          margin-bottom: 10%;
          grid-row: 1/2;
          justify-self: center;
          align-self: center;
    }
    .container-historia{
          grid-row: 2/3;
          justify-self: center;
          align-self: center;
          margin-left: 20%;
          margin-right: 20%;          
    }
         
    #historia h2{
          margin-bottom: 10px;
          margin-top: 10px;
          color:#ee5623;
          font-size: 20px;
          text-decoration:none;
          font-family: brandon-grotesque, sans-serif;
          font-style: normal;
          font-weight: 100;
    }
         
    #historia a{
          padding: 5px; 
          margin: 5px;
          color:#ee5623;
          font-size: 10px;
          text-decoration:underline;
          font-family: "Nunito Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400px;
          font-style: normal;
          font-variation-settings:
               "wdth" 100,
               "YTLC" 500;
    }
          
    #historia p{
          margin-bottom: 40px;
          color:#bcc7c7;
          font-size: 10px;
          text-decoration:none;
          font-family: "Nunito Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400px;
          font-style: normal;
          font-variation-settings:
                "wdth" 100,
                "YTLC" 500;
    }    
}**/    
@media (min-width: 1000px){      
     #historia{
          background-color:#bcc7c7;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: auto;
     }
     #historia img{
          width: 50%;
          margin-top: 10%;
          margin-bottom: 10%;
          border-color: #1a2222;
          border-style: solid;
          grid-column: 1/2;
          justify-self:flex-end;
          align-self: center;
     }
     .container-historia{
          grid-column: 2/3;
          grid-row: 1;
          justify-self: center;
          align-self: center;
          margin-right: 30%;
          margin-left: 8%;
     }     
     #historia h2{
          margin-bottom: 10px;
          margin-top: 10px;
          color:#ee5623;
          font-size: 24px;
          text-decoration:none;
          font-family: brandon-grotesque, sans-serif;
          font-style: normal;
          font-weight: 100;
     }
          
     #historia a{
          padding: 5px; 
          margin: 5px;
          color:#ee5623;
          font-size: 14px;
          text-decoration:underline;
          font-family: "Nunito Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400px;
          font-style: normal;
          font-variation-settings:
               "wdth" 100,
               "YTLC" 500;
     }
          
     #historia p{
          margin-bottom: 40px;
          color:#1a2222;
          font-size: 14px;
          text-decoration:none;
          font-family: "Nunito Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400px;
          font-style: normal;
          font-variation-settings:
               "wdth" 100,
               "YTLC" 500;
     }
}
#estilos{
     background-color:#1a2222;
     padding: 30px;
     padding-bottom: 40px;
}
#estilos img{
     width: 100%;
}
#estilos h2{
     display: flex;
     justify-content: center;
     padding: 20px;
     margin-bottom: 20px;
     color:#ee5623;
     text-align: center;
     font-size: 40px;
     text-decoration:underline;
     font-family: brandon-grotesque, sans-serif;
     font-style: normal;
     font-weight: 500;
}
#estilos .card{
     background-color:#1a2222;
}
#estilos h5{
     color:#bcc7c7 !important;
     text-align: center;
     font-size: 18px !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
}
#estilos p{
     color:#bcc7c7 !important;
     font-size: 12px !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
}
#estilos a{
     display: flex;
     justify-content: center;
     color:#ee5623 !important;
     font-size: 15px !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 600px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
     padding: 5% !important;
     background-color:#1a2222;
     border-color:#1a2222;
}

#horarios{
     background-color:#1a2222;
     border-top: #bcc7c7;
     border-style: solid;
     padding: 30px;
     padding-bottom: 40px;
}
#horarios h2{
     display: flex;
     justify-content: center;
     padding: 20px;
     margin-bottom: 20px;
     color:#ee5623;
     font-size: 40px;
     text-align: center;
     text-decoration:underline;
     font-family: brandon-grotesque, sans-serif;
     font-style: normal;
     font-weight: 500;
}
#horarios p{
     display: flex;
     justify-content: center;
     color:#bcc7c7;
     font-size: 20px;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
}
#horarios .card{
     background-color:#1a2222;
}
#horarios h5{
     color:#bcc7c7 !important;
     text-align: center;
     font-size: 20px !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
}
#horarios p{
     color:#bcc7c7 !important;
     font-size: 15px !important;
     text-align: center;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
}
#horarios a{
     display: flex;
     justify-content: center;
     color:#1a2222 !important;
     font-size: 18px !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 700px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
     padding: 1% !important;
     background-color:#ee5623;
     border-color: #ee5623;
     opacity: 0.8;
}
#talleres{
     background-color:#1a2222;

}
#talleres h2{
     display: flex;
     justify-content: center;
     padding: 20px;
     margin-bottom: 20px;
     color:#ee5623;
     font-size: 40px;
     text-align: center;
     text-decoration:underline;
     font-family: brandon-grotesque, sans-serif;
     font-style: normal;
     font-weight: 500;
}
#talleres p{
     display: flex;
     justify-content: center;
     color:#bcc7c7;
     font-size: 20px;
     text-align: justify;
     margin-left: 10%;
     margin-right: 10%;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500; 
}
#talleres .card{
     background-color:#1a2222;
     border-style: none;
     padding: 15px;
     
}
#talleres h5{
     color:#ee5623;
     font-size: 20px;
     text-align: center;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 400px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500; 
}
#talleres a{
     display: flex;
     justify-content: center;
     color:#1a2222 !important;
     font-size: 18px !important;
     font-family: "Nunito Sans", sans-serif !important;
     font-optical-sizing: auto;
     font-weight: 700px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
     padding: 1% !important;
     margin-left: 10%;
     margin-right: 10%;
     background-color:#bcc7c7;
     border-color:#bcc7c7;
     opacity: 0.8;
}

/**#horarios img .presenciales{
     grid-column: 1/2;
     grid-row: 2/3;

}
#horarios img .online{
     grid-column: 1/2;
     grid-row: 3/4;

}
#horarios img{
     width: 70%;
     margin-top: 10%;
     margin-bottom: 10%;
     border-color: #1a2222;
     border-style: solid;
     justify-self: center;
     align-self: center;
}
#horarios .container-pres{
     grid-column: 2/3;
     grid-row: 2/3;
}
#horarios .container-online{
     grid-column: 2/3;
     grid-row: 3/4;

}
#horarios div{
     margin-top: 10%;
     margin-bottom: 10%;
     justify-self:flex-start;
     align-self: center; 
}
#horarios a{
     padding: 8px 25px;
     background-color: #ee5623;
     border-radius: 5%;
     opacity: 0.9;
     font-size: 15px;
     font-family: "Nunito Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
     text-align: center;
     color: #1a2222;
}
#horarios h3{
     font-size: 30px;
     font-family: "Nunito Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 800px;
     font-style: normal;
     font-variation-settings:
          "wdth" 100,
          "YTLC" 500;  
     text-align: center;
     color: #1a2222;
}**/

/**footer{
     @media screen and (max-width: 480px)
}

footer{
     background-color:#1a2222;
     color:#bcc7c7;
     display: grid;
     grid-template-columns: repeat(3, 1fr); 
     grid-template-rows: repeat(3, 1fr);
    }

footer.saludo img{
     width: 20%;
     display: flex;
     justify-content: center;
     grid-column: span 3;
     grid-row: span 1;
}

footer h2{
     display: flex; 
     flex-wrap: wrap;
     color:#ee5623;
     font-size: 4rem;
     text-decoration:none;
     font-family: brandon-grotesque, sans-serif;
     font-style: italic;
     font-weight: 400;   
}**/